

.photoprof{
  width: 50%;
  height: auto;
  
}
.profile
{
  border-style: groove;
  padding: 0 6px;
  float: left;
  width:auto ;
  background-color: aquamarine;
}
img {
  border-radius: 50%;
  display: flex;
  margin-left: 37px;
}
p{
  text-align: center;
}